<h1>Satellites</h1>

<%= search_form_for @q do |f| %>

  <%= f.label :international_designator_or_name_or_object_type_or_country_or_launch_site_or_radar_cross_section_size_or_comment_cont, "Search" %>
  <%= f.search_field :international_designator_or_name_or_object_type_or_country_or_launch_site_or_radar_cross_section_size_or_comment_cont %>

  <%= f.label :object_type_cont, 'Object Type' %>
  <%= f.collection_select :object_type_cont, ['', 'Debris', 'Rocket Body', 'Payload', 'TBA'], :to_s, :to_s %>

  <%= f.label :launch_date_eq, 'Launch Date' %>
  <%= f.search_field :launch_date_eq %>

  <%= f.label :decay_date_eq, 'Decay Date' %>
  <%= f.search_field :decay_date_eq %>

  <%= f.label :apogee_eq, 'Apogee' %>
  <%= f.search_field :apogee_eq %>

  <%= f.label :perigee_eq, 'Perigee' %>
  <%= f.search_field :perigee_eq %>

  <%= f.label :inclination_eq, 'Inclination' %>
  <%= f.search_field :inclination_eq %>

  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to 'Clear', satellites_path, class: 'btn btn-secondary' %>
<% end %>

<%== pagy_info(@pagy) %>

<div class="table-responsive">
  <table class="table table-secondary table-striped table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th><%= sort_link(@q, :norad_catalog_id, 'ID')%></th>
        <th><%= sort_link(@q, :international_designator, 'International Designator')%></th>
        <th><%= sort_link(@q, :name)%></th>
        <th><%= sort_link(@q, :object_type, 'Object Type')%></th>
        <th><%= sort_link(@q, :country)%></th>
        <th><%= sort_link(@q, :launch_date, 'Launch Date')%></th>
        <th><%= sort_link(@q, :launch_site, 'Launch Site')%></th>
        <th><%= sort_link(@q, :decay_date, 'Decay Date')%></th>
        <th><%= sort_link(@q, :period, 'Period (min)')%></th>
        <th><%= sort_link(@q, :inclination, 'Inclination (degrees)')%></th>
        <th><%= sort_link(@q, :apogee, 'Apogee (km)')%></th>
        <th><%= sort_link(@q, :perigee, 'Perigee (km)')%></th>
        <th><%= sort_link(@q, :radar_cross_section_size, 'Radar Cross Section Size (m^2)')%></th>
        <th><%= sort_link(@q, :comment)%></th>
       </tr>
    </thead>

    <tbody>
      <% @satellites.each do |satellite| %>
        <tr>
          <td>
            <div class="btn-group">
              <%= link_to 'View', satellite, class: 'btn btn-sm btn-primary' %>
              <%= link_to 'Edit', edit_satellite_path(satellite), class: 'btn btn-sm btn-secondary' %>
              <%= link_to 'Delete', satellite, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            </div>
          </td>
          <td><%= satellite.norad_catalog_id %></td>
          <td><%= satellite.international_designator %></td>
          <td><%= satellite.name %></td>
          <td><%= satellite.object_type %></td>
          <td><%= satellite.country %></td>
          <td><%= satellite.launch_date %></td>
          <td><%= satellite.launch_site %></td>
          <td><%= satellite.decay_date %></td>
          <td><%= satellite.period %></td>
          <td><%= satellite.inclination %></td>
          <td><%= satellite.apogee %></td>
          <td><%= satellite.perigee %></td>
          <td><%= satellite.radar_cross_section_size %></td>
          <td><%= satellite.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%== pagy_items_selector_js(@pagy) %>
<br>
<%== pagy_bootstrap_combo_nav_js(@pagy) %>
<br>
<h2>Legend</h2>
<div class="table-responsive">
  <table class="table table-secondary table-striped table-bordered table-hover table-sm">
    <thead>
    <tr>
      <th>Term</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td>Apogee</td>
        <td>Point in the orbit where an Earth satellite is farthest from the Earth. Units are kilometers.</td>
      </tr>
      <tr>
        <td>Decay Date</td>
        <td>Date object reentered the earth's atmosphere.</td>
      </tr>
      <tr>
        <td>Inclination</td>
        <td>The angle between the equator and the orbit plane. Units are degrees.</td>
      </tr>
      <tr>
        <td>International Designator</td>
        <td>The first two characters designate the launch year of the object.
          The next 3 characters indicate the launch number, starting from the beginning of the year.
          The remainder of the field (1 to 3 characters) indicates the piece of the launch. Piece 'A' is usually the payload.
        </td>
      </tr>
      <tr>
        <td>Perigee</td>
        <td>Point in the orbit where an Earth satellite is closest to the Earth. Units are kilometers.</td>
      </tr>
      <tr>
        <td>Period</td>
        <td>The time an object takes to make one full orbit. Units are minutes.</td>
      </tr>
      <tr>
        <td>Radar Cross Section Size</td>
        <td>A measure of how detectable an object is by radar. Units are square meters.</td>
      </tr>
      <tr>
        <td>Radar Cross Section Size</td>
        <td>A measure of how detectable an object is by radar. Units are square meters.</td>
      </tr>
    </tbody>
  </table>
</div>