<h1 class="text-white text-4xl">Catalog of Satellites</h1>

<%= render 'satellites/search_form' %>

<table class="paaa-table">
  <thead class="paaa-table-head">
    <tr>
      <th class="paaa-table-cell">Name</th>
      <th class="paaa-table-cell">Catalog ID</th>
      <th class="paaa-table-cell">International designation</th>
      <th class="paaa-table-cell">Launch date</th>
      <th class="paaa-table-cell">Decay date</th>
      <th class="paaa-table-cell">Country</th>
      <th class="paaa-table-cell">Launch Site</th>
      <th class="paaa-table-cell">Space Object Type</th>
      <th class="paaa-table-cell">Radar Cross Section Size</th>
      <th class="paaa-table-cell">Element number</th>
      <th class="paaa-table-cell">Two-Line Element Set</th>
      <th class="paaa-table-cell">Orbit</th>
      <th class="paaa-table-cell" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="paaa-table-body">
    <% @satellites.each do |satellite| %>
      <tr>
        <td class="paaa-table-cell"><%= satellite.name %></td>
        <td class="paaa-table-cell"><%= satellite.catalog_id %></td>
        <td class="paaa-table-cell"><%= satellite.international_designation %></td>
        <td class="paaa-table-cell"><%= satellite.launch_date %></td>
        <td class="paaa-table-cell"><%= satellite.decay_date %></td>
        <td class="paaa-table-cell"><%= satellite.country %></td>
        <td class="paaa-table-cell"><%= satellite.launch_site %></td>
        <td class="paaa-table-cell"><%= satellite.space_object_type %></td>
        <td class="paaa-table-cell"><%= satellite.radar_cross_section_size %></td>
        <td class="paaa-table-cell"><%= satellite.element_number %></td>
        <td class="paaa-table-cell"><%= satellite.tles %></td>
        <td class="paaa-table-cell"><%= link_to satellite.orbit.name, satellite.orbit %></td>
        <td class="paaa-table-cell"><%= link_to 'Show', satellite %></td>
        <td class="paaa-table-cell"><%= link_to 'Edit', edit_satellite_path(satellite) %></td>
        <td class="paaa-table-cell"><%= link_to 'Destroy', satellite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
