<h1>Satellites</h1>
<%== pagy_info(@pagy) %>

<table class="table table-dark table-striped table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>NORAD Catalog ID</th>
      <th>International Designator</th>
      <th>Name</th>
      <th>Object Type</th>
      <th>Country</th>
      <th>Launch Date</th>
      <th>Launch Site</th>
      <th>Decay Date</th>
      <th>Period</th>
      <th>Inclination</th>
      <th>Apogee</th>
      <th>Perigee</th>
      <th>Radar Cross Section Size</th>
      <th>Comment</th>
     </tr>
  </thead>

  <tbody>
    <% @satellites.each do |satellite| %>
      <tr>
        <td>
          <div class="btn-group">
            <%= link_to 'View', satellite, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Edit', edit_satellite_path(satellite), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Delete', satellite, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </div>
        </td>
        <td><%= satellite.norad_catalog_id %></td>
        <td><%= satellite.international_designator %></td>
        <td><%= satellite.name %></td>
        <td><%= satellite.object_type %></td>
        <td><%= satellite.country %></td>
        <td><%= satellite.launch_date %></td>
        <td><%= satellite.launch_site %></td>
        <td><%= satellite.decay_date %></td>
        <td><%= satellite.period %></td>
        <td><%= satellite.inclination %></td>
        <td><%= satellite.apogee %></td>
        <td><%= satellite.perigee %></td>
        <td><%= satellite.radar_cross_section_size %></td>
        <td><%= satellite.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_items_selector_js(@pagy) %>
<br>
<%== pagy_bootstrap_combo_nav_js(@pagy) %>
