<!-- Used to pass the satellite's information to the pages Javascript. -->
<%= content_tag :div, class: "satellite-information", data: { satellite: @satellite } do %>
<% end %>

<div class="row">
  <div class="col-6">
    <h1>Satellite: <%= @satellite.name %></h1>
    <div class="table-responsive">
      <table class="table table-secondary table-striped table-bordered table-hover table-sm">
        <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td><strong>ID</strong></td>
          <td><%= @satellite.norad_catalog_id %></td>
        </tr>
        <tr>
          <td><strong>International Designator</strong></td>
          <td><%= @satellite.international_designator %></td>
        </tr>
        <tr>
          <td><strong>Name</strong></td>
          <td><%= @satellite.name %></td>
        </tr>
        <tr>
          <td><strong>Object Type</strong></td>
          <td><%= @satellite.object_type %></td>
        </tr>
        <tr>
          <td><strong>Country</strong></td>
          <td><%= @satellite.country %></td>
        </tr>
        <tr>
          <td><strong>Launch Date</strong></td>
          <td><%= format_date(@satellite.launch_date) %></td>
        </tr>
        <tr>
          <td><strong>Launch Site</strong></td>
          <td><%= @satellite.launch_site %></td>
        </tr>
        <tr>
          <td><strong>Decay Date</strong></td>
          <td><%= format_date(@satellite.decay_date) %></td>
        </tr>
        <tr>
          <td><strong>Period (min)</strong></td>
          <td><%= @satellite.period %></td>
        </tr>
        <tr>
          <td><strong>Inclination (degrees)</strong></td>
          <td><%= @satellite.inclination %></td>
        </tr>
        <tr>
          <td><strong>Apogee (km)</strong></td>
          <td><%= @satellite.apogee %></td>
        </tr>
        <tr>
          <td><strong>Perigee (km)</strong></td>
          <td><%= @satellite.perigee %></td>
        </tr>
        <tr>
          <td><strong>Radar Cross Section Size (m^2)</strong></td>
          <td><%= @satellite.radar_cross_section_size %></td>
        </tr>
        <tr>
          <td><strong>Comment</strong></td>
          <td><%= @satellite.comment %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-6">
    <h1>Legend</h1>
    <div class="table-responsive">
      <table class="table table-secondary table-striped table-bordered table-hover table-sm">
        <thead>
        <tr>
          <th>Term</th>
          <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Apogee</td>
          <td>Point in the orbit where an Earth satellite is farthest from the Earth. Units are kilometers.</td>
        </tr>
        <tr>
          <td>Decay Date</td>
          <td>Date object reentered the earth's atmosphere.</td>
        </tr>
        <tr>
          <td>Inclination</td>
          <td>The angle between the equator and the orbit plane. Units are degrees.</td>
        </tr>
        <tr>
          <td>International Designator</td>
          <td>The first two characters designate the launch year of the object.
            The next 3 characters indicate the launch number, starting from the beginning of the year.
            The remainder of the field (1 to 3 characters) indicates the piece of the launch. Piece 'A' is usually the payload.
          </td>
        </tr>
        <tr>
          <td>Perigee</td>
          <td>Point in the orbit where an Earth satellite is closest to the Earth. Units are kilometers.</td>
        </tr>
        <tr>
          <td>Period</td>
          <td>The time an object takes to make one full orbit. Units are minutes.</td>
        </tr>
        <tr>
          <td>Radar Cross Section Size</td>
          <td>A measure of how detectable an object is by radar. Units are square meters.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h2>Orbit View</h2>
<div id="satellite-orbit-view">
  <!-- Satellite's orbit is rendered with three.js here. -->
</div>

<br>
<%= link_to 'Back', :back, class: 'btn btn-primary' %>
<br><br>
