<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Required Bootstrap metatag. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required security metatags. -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Load the application's CSS and Javascript through Webpacker. -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Per Aspera Ad Astra</title>
  </head>
  <!-- Append the Rail's controller name and action name, so page specific Javascript can be run. -->
  <%= content_tag :body, data: {controller: controller_name, action: action_name} do %>
    <%= render 'layouts/alerts' %>
    <div class="container-fluid bg-dark text-white">
      <%= yield %>
    </div>
  <% end %>
</html>
